/* src/styles/animations.css */
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 3s linear forwards;
}

.story-enter {
  opacity: 0;
  transform: scale(1.1);
}

.story-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.story-exit {
  opacity: 1;
}

.story-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}